<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Home</title>
    <!-- CSS LINK -->
    <link rel="stylesheet" href="/home.css" />
    <!-- TODO: Head-links -->
    <link rel="shortcut icon" type="image/png" href="/Asset3.png" />
    <%- include("partials/links") %>
  </head>

  <body>
    <!-- Start your project here-->
    <div class="container-sm">
      <!-- NAVBAR here-- -->
      <%- include("partials/navbar") %>

      <!-- TODO: INNER-PLACE FIXING -->
      <div id="page" class="home_h1">
        <div id="content_box">
          <!-- FIXME: Posts-->
          <div class="random_posts">
            <% let i1=10+(num*10); let i=num*10;%> <%
            if(i1>data.length){i1=data.length} %> <%for(i; i < i1 ;){ let
            temp=i+1;%>

            <section class="other_movies_head">
              <a
                class="images_post"
                href="http://moviecity.tech/inner/<%= data[i].name %> "
              >
                <img src="<%=data[ i].post_ss %>" alt="" srcset="" />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      <%= data[ i].name %> (<%= data[i].year %>)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        <%= data[i].imdb %>
                        <span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3><%= data[ i].language %></h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </a>
              <div style="width: 2%; height: auto"></div>
              <% if(temp>data.length-1){}else{%>
              <a
                class="images_post"
                href="http://moviecity.tech/inner/<%= data[temp].name %> "
              >
                <img src="<%=data[temp].post_ss %>" alt="" srcset="" />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      <%= data[temp].name %> (<%= data[temp].year %>)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        <%= data[temp].imdb %>
                        <span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3><%= data[temp].language %></h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </a>
              <% } %>
            </section>
            <% i=i+2;} %>
          </div>

          <!-- FIXME: Screen Shot-->
        </div>
      </div>

      <!-- TODO: FOOTER HERE -->

      <div class="pageNumberBar">
        <div class="pagination">
          <ul class="pagination-2">
            <%if (parseInt(num) == 0) { %>
            <div class="pad">
              <a href="http://moviecity.tech/">
                <li class="page-number prev">&laquo;</li>
              </a>
            </div>

            <%}else{ %>
            <div class="pad">
              <a href="http://moviecity.tech/page/<%=parseInt(num)-1%>">
                <li class="page-number prev">&laquo;</li>
              </a>
            </div>

            <% } %> <% for(let i = 0;i < data.length/10 ; i++){ %> <%
            if(num==i){%>
            <div class="pad">
              <a href="http://moviecity.tech/page/<%= i %> "
                ><li class="page-number active"><%= i %></li>
              </a>
            </div>

            <%}else{%>
            <div class="pad">
              <a href="http://moviecity.tech/page/<%= i %> "
                ><li class="page-number"><%= i %></li>
              </a>
            </div>
            <%}%> <% } %>
            <div class="pad">
              <a href="http://moviecity.tech/page/<%=parseInt(num)+1%>"
                ><li class="page-number prev">&raquo;</li></a
              >
            </div>
          </ul>
        </div>

        <div class="foooter">
          <% let d = new Date(); let year = d.getFullYear(); %>
          <p>MOVIECITY.TECH © <%=year%></p>
        </div>
      </div>
    </div>

    <!-- JavaScript links -->
    <%- include('partials/js_links') %>
  </body>
</html>
