<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Search</title>
    <!-- CSS LINK -->
    <link rel="stylesheet" href="/home.css" />


    <!-- TODO: Head-links -->
    <%- include("partials/links") %>
  </head>

  <body>
    <!-- Start your project here-->
    <div class="container-sm">
      <!-- NAVBAR here-- -->
      <%- include("partials/navbar") %>

      <!-- TODO: INNER-PLACE FIXING -->
      <div id="page" class="home_h1">
        <div id="content_box">
          <!-- FIXME: Posts-->
          <div class="random_posts">
            <% for(let i = 0; i < arr.length;){ %> <% let temp = i+1; %>
            <section class="other_movies_head">
              <a
                class="images_post"
                href="https://moviecity.tech/inner/<%= arr[i].name %> "
              >
                <img src="<%=arr[i].post_ss %>" alt="" srcset="" />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      <%= arr[i].name %> (<%= arr[i].year %>)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        <%= arr[i].imdb %>
                        <span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3><%= arr[i].language %></h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </a>
              <% if(temp>(arr.length-1)){}else{ %>
              <a
                class="images_post"
                href="https://moviecity.tech/inner/<%= arr[temp].name %> "
              >
                <img src="<%=arr[temp].post_ss %>" alt="" srcset="" />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      <%= arr[temp].name %> (<%= arr[temp].year %>)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        <%= arr[temp].imdb %>
                        <span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3><%= arr[temp].language %></h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </a>
              <% } %>
            </section>
            <% i+=2 ;} %>
          </div>

          <!-- FIXME: Screen Shot-->
        </div>
      </div>

      <!-- TODO: FOOTER HERE -->

      <!-- page-number -->
      <div class="pageNumberBar">
        <div class="foooter">
          <% let d = new Date(); let year = d.getFullYear(); %>
          <p>MOVIECITY.TECH © <%=year%></p>
        </div>
      </div>
    </div>

    <!-- JavaScript links -->
    <%- include('partials/js_links') %>
  </body>
</html>
